.seccionSobreNosotros{
    width: 100%;
    height: 60vh;
    background-color: var(--colorGris);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    scroll-margin-top: 170px;
    align-items: center;
    gap: 60px;
    padding: 20px 0;
}


.sobre-nosotros-texto{
    
    width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.7s;
}

.sobre-nosotros-texto-novisible{
    width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    transform: translateX(-100px);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.sobre-nosotros-texto-novisible h2{
    font-size: 2rem;
}
.sobre-nosotros-texto-novisible p{
    font-size: 20px;
}

.sobre-nosotros-texto h2{
    font-size: 2rem;
}
.sobre-nosotros-texto p{
    font-size: 20px;
}
.sobre-nosotros-img{
    width: 650px;
    height: 500px;
    transition: 0.7s;
    border-radius: 1rem;
    overflow: hidden;
}

.sobre-nosotros-img img{
    width: 100%;
    height: 100%;
}

.sobre-nosotros-img-novisible{
    visibility: hidden;
    width: 650px;
    height: 500px;
    transform: translateX(70px);
    opacity: 0;
    transition: 0.3s;
}

.sobre-nosotros-img-novisible img{
    width: 100%;
    height: 100%;
}


/*MOVILES*/

@media screen and (max-width: 1500px) {
    .seccionSobreNosotros {
      flex-direction: column-reverse;
      gap: 16px;
      padding: 20px 0;
      height: 95vh;
      box-sizing: border-box;
      scroll-margin-top: 80px;
    }
  
    .sobre-nosotros-texto-novisible,
    .sobre-nosotros-texto {
      width: 60%;
      padding: 0;
    }
  
    .sobre-nosotros-texto-novisible {
      transform: translateY(50px);
      transition: none;
    }
  
    .sobre-nosotros-texto-novisible p,
    .sobre-nosotros-texto p {
      width: 100%;
      height: 100%;
      font-size: 18px;
    }
  
    .sobre-nosotros-img-novisible,
    .sobre-nosotros-img {
      width: 580px;
      height: 380px;
    }
  
    .sobre-nosotros-img-novisible {
      transform: translateY(-50px);
      transition: none;
    }
  
    .sobre-nosotros-img {
      transition: 0.7s;
    }
  
    .sobre-nosotros-img-novisible img,
    .sobre-nosotros-img img {
      width: 100%;
      height: 100%;
    }
  }
  


@media screen and (max-width: 1000px) {
    .seccionSobreNosotros {
      flex-direction: column-reverse;
      gap: 16px;
      height: 90vh;
      padding: 40px 0;
    }
  
    .sobre-nosotros-img-novisible,
    .sobre-nosotros-img {
      width: 600px;
      height: 450px;
    }
  
    .sobre-nosotros-img-novisible {
      transform: translateY(-50px);
      transition: none;
    }
  
    .sobre-nosotros-img {
      transition: 0.7s;
    }
  
    .sobre-nosotros-img-novisible img,
    .sobre-nosotros-img img {
      width: 100%;
      height: 100%;
    }
  
    .sobre-nosotros-texto-novisible,
    .sobre-nosotros-texto {
      width: 650px;
      padding: 0;
    }
  
    .sobre-nosotros-texto-novisible {
      transform: translateY(50px);
    }
  
    .sobre-nosotros-texto-novisible p,
    .sobre-nosotros-texto p {
      width: 100%;
      font-size: 1rem;
    }
  }
  
  @media screen and (max-width: 800px) {
    .seccionSobreNosotros {
      padding: 60px 0;
      height: 100vh;
    }
  
    .sobre-nosotros-img-novisible,
    .sobre-nosotros-img {
      width: 600px;
      height: 550px;
    }
  
    .sobre-nosotros-img img {
      transition: none;
    }
  }
  
  @media screen and (max-width: 700px) {
    .seccionSobreNosotros {
      scroll-margin-top: 100px;
      flex-direction: column-reverse;
      gap: 30px;
      height: 85vh;
      padding: 40px 0;
      box-sizing: border-box;
    }
  
    .sobre-nosotros-img-novisible,
    .sobre-nosotros-img {
      width: 450px;
      height: 300px;
    }
  
    .sobre-nosotros-img-novisible {
      transform: translateY(-50px);
      transition: none;
    }
  
    .sobre-nosotros-img {
      transition: 0.7s;
    }
  
    .sobre-nosotros-texto-novisible,
    .sobre-nosotros-texto {
      width: 90%;
      padding: 0;
    }
  
    .sobre-nosotros-texto-novisible {
      transform: translateY(50px);
      transition: none;
    }
  
    .sobre-nosotros-texto {
      transition: 1s;
    }
  
    .sobre-nosotros-texto-novisible p {
      height: 477px;
      font-size: 1rem;
      padding: 0;
    }
  
  }
  
  @media screen and (max-width: 500px) {
    .seccionSobreNosotros {
      scroll-margin-top: 60px;
      gap: 10px;
      height: 110vh;
    }
    
    .sobre-nosotros-img-novisible,
    .sobre-nosotros-img {
      width: 90%;
      height: 400px;
    }
  
    .sobre-nosotros-texto-novisible,
    .sobre-nosotros-texto {
      width: 90%;
    }
  }
  
